title, span, ul, li {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

@font-face{
    font-family: Tetris;
    src: url('Tetris2.ttf');
}

@font-face{
  font-family: TimeBurner;
  src: url('timeburnernormal.ttf');
}

html, body {
  font-family: TimeBurner;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.tetrjs {
  background: #D6E7FB;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  text-align: center;
  font-family: Tetris;
  font-size: 50px;
  color: #F4810B;
}

.gameboard {
  margin: auto;
  background: #000000;
}

.block {
  width: 20px;
  height: 20px;
  background: #1A1A1A;
  border-radius: 4px;
}

.i {
  background: #09AEF7;
}

.o {
  background: #E39F02;
}

.t {
  background: #892389;
}

.z {
  background: #D95066;
}

.s {
  background: #86EA33;
}

.l {
  background: #E35B02;
}

.j {
  background: #4464E9;
}

.instructions {
  background: #2BBFFF;
  border: 1px solid black;
  display: block;
  position: absolute
}

.instructions-title {
  display: block;
  font-size: 18px;
  text-align: center;
}

.storedpiece {
  height: 100px;
  width: 100px;
  float: left;
  position: absolute;
  top: 0px;
  left: 375px;
  color: #129AFF;
}

.storedpiece-title {
  display: block;
  font-size: 18px;
  text-align: center;
}

.storedpiece-table {
  display: block;
  background: #000000;
}

.key {
  display: block;
  height: 30px;
  width: 30px;
  background: #F7F8F9;
  text-align: center;
  border: 1px inset black;
  border-radius: 4px;
  float: left;
  margin: 5px;
}

.space {
  width: 60px;
}

.shift {
  width: 60px;
}

.text {
  float: right;
  padding-top: 11px;
}

.content {
  position: relative;
}

.nextpiece {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  right: 400px;
  color: #129AFF;
}

.nextpiece-title {
  display: block;
  font-size: 18px;
  text-align: center;
}

.nextpiece-table {
  display: block;
  background: #000000;
}

.scoreboard {
  position: absolute;
  top: 240px;
  right: 375px;
  font-size: 36px;
  color: #129AFF;
}

.paused-modal {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 45%;
  color: red;
  font-size: 48px;
}

.game-over-modal {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 45%;
  color: red;
  font-size: 48px;
}

.footer {
  list-style: none;
}

.footer li {
  text-align: center;
  margin: 20px;
}
